In [1]:
import pandas as pd

This is how I would use a SQL query to pull down data and turn it into something I can interrogate.

In [ ]:
# assign credentials variable
credentials = "credentials go here"

# read in SQL query
dataframe1 = pd.read_sql("""
            SELECT *
            FROM zip_metro_mapping.csv
            """, con = credentials)

dataframe2 = pd.read_sql("""
            SELECT *
            FROM RDC_Inventory_Core_Metrics_Metro.csv
            """, con = credentials)

dataframe3 = pd.read_sql("""
            SELECT *
            FROM RDC_Inventory_Core_Metrics_Zip.csv
            """, con = credentials)


###### If you want only certain columns returned, here's what I would do:

dataframe1 = pd.read_sql("""
            SELECT *
            FROM zip_metro_mapping.csv
            """, con = credentials)

dataframe2 = pd.read_sql("""
            SELECT cbsa_code, cbsa_name, median_listing_price, HouseholdRank
            FROM RDC_Inventory_Core_Metrics_Metro.csv
            """, con = credentials)

dataframe3 = pd.read_sql("""
            SELECT postal_code, zip_name, median_listing_price, active_listing_count
            FROM RDC_Inventory_Core_Metrics_Zip.csv
            """, con = credentials)

Below, I read in the csv files and answer your question

In [32]:
df = pd.read_csv('zip_metro_mapping.csv',encoding='ISO-8859-1')
df1 = pd.read_csv('RDC_Inventory_Core_Metrics_Metro.csv')
df2 = pd.read_csv('RDC_Inventory_Core_Metrics_Zip.csv')

C:\Users\aefar\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3417: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [33]:
df2.columns

Index(['month_date_yyyymm', 'postal_code', 'zip_name', 'median_listing_price',
       'median_listing_price_mm', 'median_listing_price_yy',
       'active_listing_count', 'active_listing_count_mm',
       'active_listing_count_yy', 'median_days_on_market',
       'median_days_on_market_mm', 'median_days_on_market_yy',
       'new_listing_count', 'new_listing_count_mm', 'new_listing_count_yy',
       'price_increased_count', 'price_increased_count_mm',
       'price_increased_count_yy', 'price_reduced_count',
       'price_reduced_count_mm', 'price_reduced_count_yy',
       'pending_listing_count', 'pending_listing_count_mm',
       'pending_listing_count_yy', 'median_listing_price_per_square_foot',
       'median_listing_price_per_square_foot_mm',
       'median_listing_price_per_square_foot_yy', 'median_square_feet',
       'median_square_feet_mm', 'median_square_feet_yy',
       'average_listing_price', 'average_listing_price_mm',
       'average_listing_price_yy', 'total_listing_count',
       'total_listing_count_mm', 'total_listing_count_yy', 'pending_ratio',
       'pending_ratio_mm', 'pending_ratio_yy', 'quality_flag'],
      dtype='object')

In [34]:
#### Removes unnecessary rows ####
df2 = df2.filter(items=['postal_code','zip_name','median_listing_price','active_listing_count'])
df2

,postal_code,zip_name,median_listing_price,active_listing_count
0,30188,"woodstock, ga",450000.0,120.0
1,74646,"nardin, ok",275000.0,0.0
2,59061,"nye, mt",2600000.0,2.0
3,10017,"new york, ny",975000.0,321.0
4,16672,"riddlesburg, pa",150000.0,1.0
...,...,...,...,...
27209,65663,"half way, mo",94900.0,1.0
27210,92860,"norco, ca",1115000.0,28.0
27211,20147,"ashburn, va",674900.0,41.0
27212,46565,"shipshewana, in",275000.0,1.0
27213,please contact economics@realtor.com for more...,NaN,NaN,NaN

In [35]:
#### This line of code removes all entries where the median_listing_price is below $1 million
df_median_listing_price = df2[df2['median_listing_price'] > 999999 ]

In [36]:
#### This line of code sums the 'active_listing_count' 
df_median_listing_price.active_listing_count.sum()

46030.0

## The 20 most expensive zip codes in Pittsburgh, Pa

In [50]:
df2_pittsburgh = df2[df2['zip_name'] == 'pittsburgh, pa'].sort_values(by='median_listing_price',\
ascending=False).head(20)

df2_pittsburgh

      postal_code        zip_name  median_listing_price  active_listing_count
22739       15232  pittsburgh, pa             1149655.0                  11.0
6572        15241  pittsburgh, pa              729900.0                  27.0
22507       15222  pittsburgh, pa              567000.0                  56.0
12189       15238  pittsburgh, pa              565000.0                  19.0
26348       15217  pittsburgh, pa              550000.0                  27.0
16125       15201  pittsburgh, pa              475000.0                  37.0
7926        15228  pittsburgh, pa              365000.0                  11.0
5042        15224  pittsburgh, pa              330000.0                  19.0
13856       15237  pittsburgh, pa              324900.0                  27.0
22563       15211  pittsburgh, pa              300000.0                  35.0
24780       15206  pittsburgh, pa              299900.0                  23.0
23298       15215  pittsburgh, pa              289900.0                  26.0
14074       15203  pittsburgh, pa              289900.0                  56.0
4952        15243  pittsburgh, pa              268500.0                  13.0
3906        15236  pittsburgh, pa              259900.0                  22.0
9961        15213  pittsburgh, pa              249000.0                  31.0
16871       15202  pittsburgh, pa              245000.0                  14.0
6246        15216  pittsburgh, pa              240000.0                  16.0
24220       15221  pittsburgh, pa              219900.0                  33.0
24303       15207  pittsburgh, pa              219000.0                   9.0

## The 20 most expensive zip codes in Philadelphia, Pa

In [51]:
df2_philly = df2[df2['zip_name'] == 'philadelphia, pa'].sort_values(by='median_listing_price',\
ascending=False).head(20)

df2_philly

,postal_code,zip_name,median_listing_price,active_listing_count
21275,19118,"philadelphia, pa",1150000.0,15.0
2227,19106,"philadelphia, pa",649000.0,82.0
10926,19147,"philadelphia, pa",550000.0,157.0
19902,19102,"philadelphia, pa",545000.0,73.0
13595,19123,"philadelphia, pa",490000.0,114.0
21698,19103,"philadelphia, pa",485000.0,165.0
23345,19146,"philadelphia, pa",449900.0,194.0
3910,19119,"philadelphia, pa",439900.0,45.0
3487,19125,"philadelphia, pa",435000.0,138.0
26255,19115,"philadelphia, pa",429000.0,12.0
119,19130,"philadelphia, pa",425000.0,100.0
1189,19128,"philadelphia, pa",424900.0,60.0
15495,19107,"philadelphia, pa",375000.0,70.0
21383,19122,"philadelphia, pa",365900.0,83.0
24170,19116,"philadelphia, pa",349900.0,21.0
24041,19152,"philadelphia, pa",339000.0,20.0
21324,19127,"philadelphia, pa",339000.0,17.0
4017,19129,"philadelphia, pa",319000.0,9.0
1653,19154,"philadelphia, pa",305000.0,16.0
19950,19114,"philadelphia, pa",299900.0,16.0

## The two joined together

In [63]:
concatenated = pd.concat([df2_pittsburgh,df2_philly])
concatenated.sort_values('median_listing_price')

,postal_code,zip_name,median_listing_price,active_listing_count
24303,15207,"pittsburgh, pa",219000.0,9.0
24220,15221,"pittsburgh, pa",219900.0,33.0
6246,15216,"pittsburgh, pa",240000.0,16.0
16871,15202,"pittsburgh, pa",245000.0,14.0
9961,15213,"pittsburgh, pa",249000.0,31.0
3906,15236,"pittsburgh, pa",259900.0,22.0
4952,15243,"pittsburgh, pa",268500.0,13.0
14074,15203,"pittsburgh, pa",289900.0,56.0
23298,15215,"pittsburgh, pa",289900.0,26.0
24780,15206,"pittsburgh, pa",299900.0,23.0
19950,19114,"philadelphia, pa",299900.0,16.0
22563,15211,"pittsburgh, pa",300000.0,35.0
1653,19154,"philadelphia, pa",305000.0,16.0
4017,19129,"philadelphia, pa",319000.0,9.0
13856,15237,"pittsburgh, pa",324900.0,27.0
5042,15224,"pittsburgh, pa",330000.0,19.0
21324,19127,"philadelphia, pa",339000.0,17.0
24041,19152,"philadelphia, pa",339000.0,20.0
24170,19116,"philadelphia, pa",349900.0,21.0
7926,15228,"pittsburgh, pa",365000.0,11.0
21383,19122,"philadelphia, pa",365900.0,83.0
15495,19107,"philadelphia, pa",375000.0,70.0
1189,19128,"philadelphia, pa",424900.0,60.0
119,19130,"philadelphia, pa",425000.0,100.0
26255,19115,"philadelphia, pa",429000.0,12.0
3487,19125,"philadelphia, pa",435000.0,138.0
3910,19119,"philadelphia, pa",439900.0,45.0
23345,19146,"philadelphia, pa",449900.0,194.0
16125,15201,"pittsburgh, pa",475000.0,37.0
21698,19103,"philadelphia, pa",485000.0,165.0
13595,19123,"philadelphia, pa",490000.0,114.0
19902,19102,"philadelphia, pa",545000.0,73.0
10926,19147,"philadelphia, pa",550000.0,157.0
26348,15217,"pittsburgh, pa",550000.0,27.0
12189,15238,"pittsburgh, pa",565000.0,19.0
22507,15222,"pittsburgh, pa",567000.0,56.0
2227,19106,"philadelphia, pa",649000.0,82.0
6572,15241,"pittsburgh, pa",729900.0,27.0
22739,15232,"pittsburgh, pa",1149655.0,11.0
21275,19118,"philadelphia, pa",1150000.0,15.0